<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Riley's Kitchen</title>
  </head>

  <header class="jumbotron">
    <h1>
      <a href="/homepage">Riley's Kitchen</a>
    </h1>
    <nav>
      {{#if loggedIn}}
        <a href="/homepage"></a>
        <button id="recipe-nav" class="btn-nav">Add Recipe</button>
        <button id="logout-nav" class="btn-nav">logout</button>
      {{else}}
        <a href="/login" id="login-nav">login</a>
      {{/if}}
    </nav>

  </header>
  <body>

    <main>
      {{{body}}}
    </main>

    <script src="/javascript/mainhandlebars.js"></script>
  </body>
</html>