<form class="add-recipe-form">
  <div>
    <textarea name="recipe-name"></textarea>
  </div>
  <div>
    <textarea name="recipe-body"></textarea>
  </div>

  <div>
    <button type="submit">add recipe</button>

  </div>
</form>