
    <main>
      <form class="add-recipe-form">
        <div>
          <input
            class="recipe-name"
            name="recipe-name"
            placeholder="Recipe name"
          ></input>
        </div>
        <div id="ingredient-input-container" >
          
        </div>
        <button id="add-ingredient-btn" class="btn" type="button">Add Ingredient</button>
        <div>
          
          <button id="submit-recipe" class="btn" type="submit">Submit Recipe</button>
        </div>
      </form>
    </main>
  