<form class="add-recipe-form">
  <div>
    <textarea
      class="recipe-name"
      name="recipe-name"
      placeholder="Recipe name"
    ></textarea>
  </div>
  <div>
    <textarea
      class="recipe-body"
      name="recipe-body"
      placeholder="List of ingredients"
    ></textarea>
  </div>

  <div>
    <button class="btn" type="submit">Add Recipe</button>

  </div>
</form>