<form>
  <div>
    {{! This button should take you to the create new recipe handlebars page }}
    <button type="submit" class="new-recipe-button">Create A New Recipe</button>
  </div>
</form>

{{!-- uses #each to loop through list of recipes. Will use once backend data is available
<ol class="recipe-list">
    {{#each recipe}}
    <li>
        {{!-- {{recipe-info}} 
    </li>
</ol> --}}


<ol class="recipe-list">
          <li>
              <h2>NAME OF RECIPE</h2>
              <img class="recipe-image"></img>
              <div class="list-of-ingredients">
                
                  <h3>List of Ingredients</h3> 
                  <p>
                      Tomatoes
                  </p>
                  <p>
                      Onions
                  </p>
                  <p>
                      Flour
                  </p>
                  <p>
                      Chicken
                  </p>
                  <p>
                      Broccoli
                  </p>
                
      
                </div>
              
          </li>
          <li>
            <h2>NAME OF RECIPE</h2>
            <img class="recipe-image"></img>
            <div class="list-of-ingredients">
              
                <h3>List of Ingredients</h3> 
                <p>
                    Tomatoes
                </p>
                <p>
                    Onions
                </p>
                <p>
                    Flour
                </p>
                <p>
                    Chicken
                </p>
                <p>
                    Broccoli
                </p>
              
    
              </div>
            
        </li>
        <li>
            <h2>NAME OF RECIPE</h2>
            <img class="recipe-image"></img>
            <div class="list-of-ingredients">
              
                <h3>List of Ingredients</h3> 
                <p>
                    Tomatoes
                </p>
                <p>
                    Onions
                </p>
                <p>
                    Flour
                </p>
                <p>
                    Chicken
                </p>
                <p>
                    Broccoli
                </p>
              
    
              </div>
            
        </li>
      </ol>

      <script> src= "/javascript/homepage.js"</script>