<form class="login-form">
  <div>
    <h5 id="login-title">Login</h5>
    <label class="username" for="username">Username:</label>
    <input type="input" id="username-login" />
  </div>

  <div>
    <label class="password" for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>

  <div class="login-button">
    <button class="btn" id="login-btn" type="submit">Login</button>
  </div>
</form>

<form class="login-form">
  <div>
    <h5 id="new-account-login">Create New Account</h5>
    <label class="username" for="username">Username:</label>
    <input type="input" id="username-signup" />
  </div>
  <div>
    <label class="email" for="email-login">Email:</label>
    <input type="input" id="email-signup" />
  </div>
  <div>
    <label class="password" for="password">Password:</label>
    <input type="password" id="password-signup" />
  </div>

  <div class="login-button">
    <button class="btn" id="signup-btn" type="submit">Create Account</button>
  </div>
</form>

<script src="/javascript/login.js"> </script>