<form class="login-form">
  <div>
    <label class="username" for="username">Username:</label>
    <input type="text" id="username-login" />
  </div>

  <div>
    <label class="password" for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>

  <div class="login-button">
    <button class="btn" id="login-btn" type="submit">Login</button>
  </div>
</form>

<script src= "/javascript/login.js"> </script>