* {
  background-color: rgb(231, 230, 230);
}

.login-form {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.jumbotron {
  text-align: center;
  font-style: italic;
  font-size: 35px;
  text-decoration: none;
}

.login-button {
  padding-top: 15px;
  padding-right: 28px;

  font-size: 15px;
  font-weight: bold;
}

.add-recipe-form {
  width: 300px;
  margin: 0 auto;

  padding-top: 50px;
}

.recipe-body {
  padding-right: 150px;
  padding-bottom: 110px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: white;
}

.btn {
  background-color: rgb(66, 197, 241);
  color: black;
  border-radius: 4px;
  box-shadow: 1px 1px darkgray;
}

.recipe-name {
  font-size: 36px;
  background-color: white;
}

.password {
  margin: 2px;
}

#username-login {
  height: 25px;
  background-color: white;
  font-size: 18px;
  margin: auto 0;
  border: none;
}

#email-signup {
  height: 25px;
  background-color: white;
  font-size: 18px;
  margin-left: 25px;
  text-align: right;
  border: none;
}

#password-login {
  height: 25px;
  background-color: white;
  font-size: 18px;
  border: none;
  width: 208px;
}

#username-signup {
  height: 25px;
  background-color: white;
  font-size: 18px;
  margin: auto 0;
  border: none;
}
#password-signup {
  height: 25px;
  background-color: white;
  font-size: 18px;
  width: 208px;
  border-radius: 1px;
  border: none;
}

#email-signup {
  height: 25px;
  background-color: white;
  font-size: 18px;
  margin-left: 25px;
  text-align: left;
}

#signup-btn {
  margin-left: 32px;
}

#login-btn {
  width: 75px;
  margin-right: 45px;
}

#recipe-header {
  text-align: center;

  font-size: 36px;
}

.recipe-title {
  font-weight: bold !important;
  text-decoration: underline !important;
}

.ingredients {
  font-style: italic !important;
  font-size: 18px;
}

.btn-nav {
  align-items: right !important;

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

nav {
  background-color: darkgray;
  text-align: right;
  padding-right: 50px;
  font-size: 25px;
}

#submit-recipe {
  margin-top: 15px;
}

#login-title {
  margin-right: 90px;
}

#new-account-login {
  margin-left: 55px;
  margin-top: 75px;
}
